Repository etspaceman/kinesis-mock: changes, and which Mergify rules are due for each by the changed paths.
All: Label integration-tests PRs, Label kinesis-mock PRs, Label kinesis-mockJS PRs, Label root-js-213 PRs, Label root-jvm-213 PRs, Label testkit PRs, Label testkitJS PRs, Label unit-tests PRs, Label unit-testsJS PRs

Label integration-tests PRs:
  label:
    add:
    - integration-tests
    remove: []

Label kinesis-mock PRs:
  label:
    add:
    - kinesis-mock
    remove: []

Label kinesis-mockJS PRs:
  label:
    add:
    - kinesis-mockJS
    remove: []

Label root-js-213 PRs:
  label:
    add:
    - root-js-213
    remove: []

Label root-jvm-213 PRs:
  label:
    add:
    - root-jvm-213
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label testkitJS PRs:
  label:
    add:
    - testkitJS
    remove: []

Label unit-tests PRs:
  label:
    add:
    - unit-tests
    remove: []

Label unit-testsJS PRs:
  label:
    add:
    - unit-testsJS
    remove: []

Update README versions
  README.md
Due: none

Upgrade FS2, fix deprecations
  kinesis-mock/src/main/scala/kinesis/mock/Utils.scala
  project/LibraryDependencies.scala
Due: Label kinesis-mock PRs

Initial changeset
  .scalafmt.conf
  build.sbt
  kinesis-mock/src/main/scala/kinesis/mock/CirisEnum.scala
  kinesis-mock/src/main/scala/kinesis/mock/ConsoleLogger.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
  kinesis-mock/src/main/scala/kinesis/mock/instances/borer.scala
  kinesis-mock/src/main/scala/kinesis/mock/instances/http4s.scala
  project/KinesisMockPlugin.scala
  project/LibraryDependencies.scala
  project/ScalacSettings.scala
  project/plugins.sbt
  unit-tests/src/test/scala/kinesis/mock/CirceTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PersistenceTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PutRecordTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PutRecordsTests.scala
  unit-tests/src/test/scala/kinesis/mock/models/SequenceNumberTests.scala
Due: Label kinesis-mock PRs, Label unit-tests PRs

More changeset
  build.sbt
Due: none

More changes
  integration-tests/src/test/scala/kinesis/mock/AwsFunctionalTests.scala
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
  integration-tests/src/test/scala/kinesis/mock/KinesisFunctionalTestResources.scala
  kinesis-mock/src/main/scala/kinesis/mock/Utils.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/ListShardsRequest.scala
  kinesis-mock/src/main/scala/kinesis/mock/cache/PersistConfig.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/ConsumerArn.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/SequenceNumber.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/StreamArn.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/RetryStatus.scala
  project/ScalacSettings.scala
  project/plugins.sbt
  unit-tests/src/test/scala/kinesis/mock/cache/PersistenceTests.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs, Label unit-tests PRs

CI changes
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Workflow updates
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

Update to Java 21, upload fat jar release asset
  .github/workflows/ci.yml
  .mergify.yml
  docker/Dockerfile.JVM
  project/KinesisMockPlugin.scala
Due: none

Update to Java 21, upload fat jar release asset (#1090)
  .github/workflows/ci.yml
  .mergify.yml
  docker/Dockerfile.JVM
  project/KinesisMockPlugin.scala
Due: none

Fix publish of kinesis-mock.jar
  project/KinesisMockPlugin.scala
Due: none

workflow file update
  .github/workflows/ci.yml
Due: none

Fix publish of kinesis-mock.jar (#1091)
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

Get release URL
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

Add condition
  project/KinesisMockPlugin.scala
Due: none

Update CI
  .github/workflows/ci.yml
Due: none

fix compile
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
Due: Label integration-tests PRs

build and push multi-platform image
  .github/workflows/ci.yml
  project/DockerImagePlugin.scala
  project/KinesisMockPlugin.scala
Due: none

Update README.md
  README.md
Due: none

fix ci
  project/KinesisMockPlugin.scala
Due: none

publish mutli-platform image
  .github/workflows/ci.yml
  project/DockerImagePlugin.scala
  project/KinesisMockPlugin.scala
Due: none

publish mutli-platform image (#1176)
  .github/workflows/ci.yml
  project/DockerImagePlugin.scala
  project/KinesisMockPlugin.scala
Due: none

fix
  project/DockerImagePlugin.scala
  project/KinesisMockPlugin.scala
Due: none

Switch to using syntax
  integration-tests/src/test/scala/kinesis/mock/KCLRecordProcessor.scala
  integration-tests/src/test/scala/kinesis/mock/WorkerStartedListener.scala
  integration-tests/src/test/scala/kinesis/mock/syntax/javaFuture.scala
  kinesis-mock/src/main/scala/kinesis/mock/ConsoleLogger.scala
  kinesis-mock/src/main/scala/kinesis/mock/Decoder.scala
  kinesis-mock/src/main/scala/kinesis/mock/Encoder.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/DescribeStreamConsumerResponse.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/DescribeStreamResponse.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/DescribeStreamSummaryResponse.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/GetRecordsResponse.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/GetShardIteratorRequest.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/ListShardsRequest.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/ListStreamConsumersRequest.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/ListStreamConsumersResponse.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/RegisterStreamConsumerResponse.scala
  kinesis-mock/src/main/scala/kinesis/mock/cache/Cache.scala
  kinesis-mock/src/main/scala/kinesis/mock/cache/CacheSemaphores.scala
  kinesis-mock/src/main/scala/kinesis/mock/instances/borer.scala
  kinesis-mock/src/main/scala/kinesis/mock/instances/circe.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/Consumer.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/ConsumerSummary.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/KinesisRecord.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/Shard.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/ShardFilter.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/StreamDescription.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/StreamDescriptionSummary.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/RetryPolicy.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/Sleep.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/classes.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/package.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/syntax/retry.scala
  testkit/src/main/scala/kinesis/mock/instances/arbitrary.scala
  testkit/src/main/scala/kinesis/mock/regexp/ASTProcessor.scala
  testkit/src/main/scala/kinesis/mock/regexp/RegexpGen.scala
  unit-tests/src/test/scala/kinesis/mock/CirceTests.scala
  unit-tests/src/test/scala/kinesis/mock/CodecTests.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs, Label testkit PRs, Label unit-tests PRs

Safe UUID / Logging
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
  integration-tests/src/test/scala/kinesis/mock/KPLTests.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockService.scala
  kinesis-mock/src/main/scala/kinesis/mock/LoggingContext.scala
  kinesis-mock/src/main/scala/kinesis/mock/Utils.scala
  unit-tests/src/test/scala/kinesis/mock/cache/AddTagsToStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/CreateStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DecreaseStreamRetentionPeriodTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DeleteStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DeregisterStreamConsumerTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeLimitsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamConsumerTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamSummaryTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DisableEnhancedMonitoringTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/EnableEnhancedMonitoringTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/GetRecordsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/GetShardIteratorTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/IncreaseStreamRetentionPeriodTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListShardsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListStreamConsumersTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListStreamsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListTagsForStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/MergeShardsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PersistenceTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PutRecordTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PutRecordsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/RegisterStreamConsumerTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/RemoveTagsFromStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/SplitShardTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/StartStreamEncryptionTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/StopStreamEncryptionTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/UpdateShardCountTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/UpdateStreamModeTests.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs, Label unit-tests PRs

revert
  project/DockerImagePlugin.scala
Due: none

scalafix happy
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
  kinesis-mock/src/main/scala/kinesis/mock/instances/borer.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs

Fix assembly step
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

Set Content-Type header for empty responses
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
Due: Label kinesis-mock PRs

Set Content-Type header for empty responses (#1282)
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
Due: Label kinesis-mock PRs

Safe UUID / LoggingContext generation
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
  integration-tests/src/test/scala/kinesis/mock/KPLTests.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockService.scala
  kinesis-mock/src/main/scala/kinesis/mock/LoggingContext.scala
  kinesis-mock/src/main/scala/kinesis/mock/Utils.scala
  unit-tests/src/test/scala/kinesis/mock/cache/AddTagsToStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/CreateStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DecreaseStreamRetentionPeriodTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DeleteStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DeregisterStreamConsumerTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeLimitsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamConsumerTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamSummaryTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DisableEnhancedMonitoringTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/EnableEnhancedMonitoringTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/GetRecordsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/GetShardIteratorTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/IncreaseStreamRetentionPeriodTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListShardsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListStreamConsumersTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListStreamsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListTagsForStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/MergeShardsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PersistenceTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PutRecordTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PutRecordsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/RegisterStreamConsumerTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/RemoveTagsFromStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/SplitShardTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/StartStreamEncryptionTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/StopStreamEncryptionTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/UpdateShardCountTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/UpdateStreamModeTests.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs, Label unit-tests PRs

Safe UUID / LoggingContext generation (#1283)
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
  integration-tests/src/test/scala/kinesis/mock/KPLTests.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockService.scala
  kinesis-mock/src/main/scala/kinesis/mock/LoggingContext.scala
  kinesis-mock/src/main/scala/kinesis/mock/Utils.scala
  unit-tests/src/test/scala/kinesis/mock/cache/AddTagsToStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/CreateStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DecreaseStreamRetentionPeriodTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DeleteStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DeregisterStreamConsumerTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeLimitsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamConsumerTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamSummaryTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DisableEnhancedMonitoringTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/EnableEnhancedMonitoringTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/GetRecordsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/GetShardIteratorTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/IncreaseStreamRetentionPeriodTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListShardsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListStreamConsumersTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListStreamsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListTagsForStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/MergeShardsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PersistenceTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PutRecordTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PutRecordsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/RegisterStreamConsumerTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/RemoveTagsFromStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/SplitShardTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/StartStreamEncryptionTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/StopStreamEncryptionTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/UpdateShardCountTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/UpdateStreamModeTests.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs, Label unit-tests PRs

Fix for AFTER_SEQUENCE_NUMBER on a fresh shard
  integration-tests/src/test/scala/kinesis/mock/AddTagsToStreamTests.scala
  integration-tests/src/test/scala/kinesis/mock/AwsFunctionalTests.scala
  integration-tests/src/test/scala/kinesis/mock/DecreaseStreamRetentionPeriodTests.scala
  integration-tests/src/test/scala/kinesis/mock/DeregisterStreamConsumerTests.scala
  integration-tests/src/test/scala/kinesis/mock/DescribeLimitsTest.scala
  integration-tests/src/test/scala/kinesis/mock/DescribeStreamConsumerTests.scala
  integration-tests/src/test/scala/kinesis/mock/DescribeStreamSummaryTests.scala
  integration-tests/src/test/scala/kinesis/mock/DescribeStreamTests.scala
  integration-tests/src/test/scala/kinesis/mock/DisableEnhancedMonitoringTests.scala
  integration-tests/src/test/scala/kinesis/mock/EnableEnhancedMonitoringTests.scala
  integration-tests/src/test/scala/kinesis/mock/GetRecordsTests.scala
  integration-tests/src/test/scala/kinesis/mock/GetShardIteratorTests.scala
  integration-tests/src/test/scala/kinesis/mock/IncreaseStreamRetentionPeriodTests.scala
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
  integration-tests/src/test/scala/kinesis/mock/KPLTests.scala
  integration-tests/src/test/scala/kinesis/mock/ListShardsTests.scala
  integration-tests/src/test/scala/kinesis/mock/ListStreamConsumersTests.scala
  integration-tests/src/test/scala/kinesis/mock/ListStreamsTests.scala
  integration-tests/src/test/scala/kinesis/mock/ListTagsForStreamTests.scala
  integration-tests/src/test/scala/kinesis/mock/MergeShardsTests.scala
  integration-tests/src/test/scala/kinesis/mock/PutRecordTests.scala
  integration-tests/src/test/scala/kinesis/mock/PutRecordsTests.scala
  integration-tests/src/test/scala/kinesis/mock/RegisterStreamConsumerTests.scala
  integration-tests/src/test/scala/kinesis/mock/SplitShardTests.scala
  integration-tests/src/test/scala/kinesis/mock/StartStreamEncryptionTests.scala
  integration-tests/src/test/scala/kinesis/mock/StopStreamEncryptionTests.scala
  integration-tests/src/test/scala/kinesis/mock/UpdateShardCountTests.scala
  integration-tests/src/test/scala/kinesis/mock/UpdateStreamModeTests.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/PutRecordRequest.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/PutRecordsRequest.scala
  testkit/src/main/scala/kinesis/mock/instances/arbitrary.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs, Label testkit PRs

Add coverage for subsequent shard iterators
  integration-tests/src/test/scala/kinesis/mock/GetRecordsTests.scala
Due: Label integration-tests PRs

Fix for AFTER_SEQUENCE_NUMBER on a fresh shard (#1284)
  integration-tests/src/test/scala/kinesis/mock/AddTagsToStreamTests.scala
  integration-tests/src/test/scala/kinesis/mock/AwsFunctionalTests.scala
  integration-tests/src/test/scala/kinesis/mock/DecreaseStreamRetentionPeriodTests.scala
  integration-tests/src/test/scala/kinesis/mock/DeregisterStreamConsumerTests.scala
  integration-tests/src/test/scala/kinesis/mock/DescribeLimitsTest.scala
  integration-tests/src/test/scala/kinesis/mock/DescribeStreamConsumerTests.scala
  integration-tests/src/test/scala/kinesis/mock/DescribeStreamSummaryTests.scala
  integration-tests/src/test/scala/kinesis/mock/DescribeStreamTests.scala
  integration-tests/src/test/scala/kinesis/mock/DisableEnhancedMonitoringTests.scala
  integration-tests/src/test/scala/kinesis/mock/EnableEnhancedMonitoringTests.scala
  integration-tests/src/test/scala/kinesis/mock/GetRecordsTests.scala
  integration-tests/src/test/scala/kinesis/mock/GetShardIteratorTests.scala
  integration-tests/src/test/scala/kinesis/mock/IncreaseStreamRetentionPeriodTests.scala
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
  integration-tests/src/test/scala/kinesis/mock/KPLTests.scala
  integration-tests/src/test/scala/kinesis/mock/ListShardsTests.scala
  integration-tests/src/test/scala/kinesis/mock/ListStreamConsumersTests.scala
  integration-tests/src/test/scala/kinesis/mock/ListStreamsTests.scala
  integration-tests/src/test/scala/kinesis/mock/ListTagsForStreamTests.scala
  integration-tests/src/test/scala/kinesis/mock/MergeShardsTests.scala
  integration-tests/src/test/scala/kinesis/mock/PutRecordTests.scala
  integration-tests/src/test/scala/kinesis/mock/PutRecordsTests.scala
  integration-tests/src/test/scala/kinesis/mock/RegisterStreamConsumerTests.scala
  integration-tests/src/test/scala/kinesis/mock/SplitShardTests.scala
  integration-tests/src/test/scala/kinesis/mock/StartStreamEncryptionTests.scala
  integration-tests/src/test/scala/kinesis/mock/StopStreamEncryptionTests.scala
  integration-tests/src/test/scala/kinesis/mock/UpdateShardCountTests.scala
  integration-tests/src/test/scala/kinesis/mock/UpdateStreamModeTests.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/PutRecordRequest.scala
  kinesis-mock/src/main/scala/kinesis/mock/api/PutRecordsRequest.scala
  testkit/src/main/scala/kinesis/mock/instances/arbitrary.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs, Label testkit PRs

Upgrade Node / ES
  build.sbt
  docker/Dockerfile
  project/KinesisMockPlugin.scala
Due: none

Path conditions:
  Label integration-tests PRs: any of: ^integration-tests/
  Label kinesis-mock PRs: any of: ^kinesis-mock/
  Label kinesis-mockJS PRs: any of: ^.sbt/matrix/kinesis-mockJS/
  Label root-js-213 PRs: any of: ^root-js-213/
  Label root-jvm-213 PRs: any of: ^root-jvm-213/
  Label testkit PRs: any of: ^testkit/
  Label testkitJS PRs: any of: ^.sbt/matrix/testkitJS/
  Label unit-tests PRs: any of: ^unit-tests/
  Label unit-testsJS PRs: any of: ^.sbt/matrix/unit-testsJS/
