Repository etspaceman/kinesis-mock: changes, and which Mergify rules are due for each by the changed paths.
All: Label integration-tests PRs, Label integration-tests3 PRs, Label kinesis-mock PRs, Label kinesis-mock3 PRs, Label kinesis-mockJS3 PRs, Label root-js-3 PRs, Label root-jvm-3 PRs, Label testkit PRs, Label testkit3 PRs, Label testkitJS3 PRs, Label unit-tests PRs, Label unit-tests3 PRs, Label unit-testsJS3 PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=etspaceman-scala-steward-app[bot]
  - body~=labels:.*early-semver-patch
  - status-success=Test (ubuntu-22.04, 3, temurin@17, true, root-jvm-3, 4567)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, true, root-jvm-3, 4568)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, true, root-js-3, 4567)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, true, root-js-3, 4568)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, false, root-jvm-3, 4567)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, false, root-jvm-3, 4568)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, false, root-js-3, 4567)
  - status-success=Test (ubuntu-22.04, 3, temurin@17, false, root-js-3, 4568)
  actions:
    merge:
      method: squash
- name: Label integration-tests PRs
  conditions:
  - files~=^integration-tests/
  actions:
    label:
      add:
      - integration-tests
      remove: []
- name: Label integration-tests3 PRs
  conditions:
  - files~=^.sbt/matrix/integration-tests3/
  actions:
    label:
      add:
      - integration-tests3
      remove: []
- name: Label kinesis-mock PRs
  conditions:
  - files~=^kinesis-mock/
  actions:
    label:
      add:
      - kinesis-mock
      remove: []
- name: Label kinesis-mock3 PRs
  conditions:
  - files~=^.sbt/matrix/kinesis-mock3/
  actions:
    label:
      add:
      - kinesis-mock3
      remove: []
- name: Label kinesis-mockJS3 PRs
  conditions:
  - files~=^.sbt/matrix/kinesis-mockJS3/
  actions:
    label:
      add:
      - kinesis-mockJS3
      remove: []
- name: Label root-js-3 PRs
  conditions:
  - files~=^root-js-3/
  actions:
    label:
      add:
      - root-js-3
      remove: []
- name: Label root-jvm-3 PRs
  conditions:
  - files~=^root-jvm-3/
  actions:
    label:
      add:
      - root-jvm-3
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label testkit3 PRs
  conditions:
  - files~=^.sbt/matrix/testkit3/
  actions:
    label:
      add:
      - testkit3
      remove: []
- name: Label testkitJS3 PRs
  conditions:
  - files~=^.sbt/matrix/testkitJS3/
  actions:
    label:
      add:
      - testkitJS3
      remove: []
- name: Label unit-tests PRs
  conditions:
  - files~=^unit-tests/
  actions:
    label:
      add:
      - unit-tests
      remove: []
- name: Label unit-tests3 PRs
  conditions:
  - files~=^.sbt/matrix/unit-tests3/
  actions:
    label:
      add:
      - unit-tests3
      remove: []
- name: Label unit-testsJS3 PRs
  conditions:
  - files~=^.sbt/matrix/unit-testsJS3/
  actions:
    label:
      add:
      - unit-testsJS3
      remove: []

Regen workflow
  .github/workflows/ci.yml
Due: none

Remove version from docker-compose
  docker/docker-compose.yml
Due: none

Upgrade Node / ES (#1285)
  .github/workflows/ci.yml
  build.sbt
  docker/Dockerfile
  docker/docker-compose.yml
  project/KinesisMockPlugin.scala
Due: none

Fix encoder/decoder for cbor
  kinesis-mock/src/main/scala/kinesis/mock/Decoder.scala
  kinesis-mock/src/main/scala/kinesis/mock/Encoder.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
  kinesis-mock/src/main/scala/kinesis/mock/instances/borer.scala
  kinesis-mock/src/main/scala/kinesis/mock/instances/http4s.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/RetryPolicy.scala
Due: Label kinesis-mock PRs

Use extension methods
  integration-tests/src/test/scala/kinesis/mock/syntax/id.scala
  integration-tests/src/test/scala/kinesis/mock/syntax/javaFuture.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/Sleep.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/syntax/retry.scala
  kinesis-mock/src/main/scala/kinesis/mock/syntax/either.scala
  kinesis-mock/src/main/scala/kinesis/mock/syntax/semaphore.scala
  testkit/src/main/scala/kinesis/mock/syntax/scalacheck.scala
  unit-tests/src/test/scala/kinesis/mock/syntax/scalacheck.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs, Label testkit PRs, Label unit-tests PRs

Set mima, fix build/push of docker image
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

Set mima, fix build/push of docker image (#1286)
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

Fix empty response content types
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
Due: Label kinesis-mock PRs

fix
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
Due: Label kinesis-mock PRs

Fix empty response content types (#1306)
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
Due: Label kinesis-mock PRs

Fix CharacterClass varargs inference after scalafmt 3.10.7 reformat
  testkit/src/main/scala/kinesis/mock/regexp/GenParser.scala
Due: Label testkit PRs

Bump sbt-scalajs to 1.21.0
  project/plugins.sbt
Due: none

Move scalafix:ok suppression to default-arg site
  kinesis-mock/src/main/scala/kinesis/mock/instances/borer.scala
Due: Label kinesis-mock PRs

Pass LOCALSTACK_AUTH_TOKEN to localstack container
  docker/docker-compose.yml
Due: none

refactor: replace projectMatrix with crossProject; collapse to one module
  .gitignore
  build.sbt
  project/plugins.sbt
Due: none

test: tag integration tests via AwsFunctionalTests munitTestTransforms
  src/test/scalajvm/kinesis/mock/AwsFunctionalTests.scala
Due: none

Separate alias for integration test
  .gitignore
  build.sbt
  project/KinesisMockPlugin.scala
Due: none

ci: update KinesisMockPlugin project-id references for crossProject
  project/KinesisMockPlugin.scala
Due: none

ci: regenerate workflow and mergify config against crossProject ids
  .github/workflows/ci.yml
  .mergify.yml
Due: none

build: drop unused sbt-projectmatrix plugin
  project/plugins.sbt
Due: none

ci: fix dockerCompose tasks, auth
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

Fix matrix
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

chore: fix ci.yml references
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

fix: drop duplicated tails left by sbt headerCreateAll, apply scalafmt
  src/main/scala/kinesis/mock/models/ShardIteratorType.scala
  src/main/scala/kinesis/mock/models/ShardLevelMetrics.scala
  src/main/scala/kinesis/mock/retry/classes.scala
  src/test/scala/kinesis/mock/cache/EnableEnhancedMonitoringTests.scala
  src/test/scala/kinesis/mock/cache/PutRecordsTests.scala
  src/test/scalajvm/kinesis/mock/AwsFunctionalTests.scala
Due: none

ci: lean on sbt-typelevel defaults, append only JS/docker steps
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

ci: attach docker tasks to kinesis-mockJS, use job-level sbt preamble for publish jobs
  .github/workflows/ci.yml
  build.sbt
  project/DockerComposePlugin.scala
  project/KinesisMockPlugin.scala
Due: none

fix(test): use arbitrary creationTime when creating consumer in DeregisterStreamConsumerTests
  src/test/scala/kinesis/mock/api/DeregisterStreamConsumerTests.scala
Due: none

fix(test): use arbitrary creationTime in remaining ConsumerArn-lookup tests
  src/test/scala/kinesis/mock/api/DeregisterStreamConsumerTests.scala
  src/test/scala/kinesis/mock/api/DescribeStreamConsumerTests.scala
Due: none

Fix new root reference
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

Remove unnecessary step
  project/KinesisMockPlugin.scala
Due: none

More cleanup
  build.sbt
  project/KinesisMockPlugin.scala
Due: none

Add sdkmanrc to gitignore
  .gitignore
Due: none

Add cross-platform CRC32 utility for event-stream framing
  kinesis-mock/src/main/scala/kinesis/mock/eventstream/Crc32.scala
  kinesis-mock/src/test/scala/kinesis/mock/eventstream/Crc32Tests.scala
Due: Label kinesis-mock PRs
