Repository etspaceman/kinesis-mock: changes, and which Mergify rules are due for each by the changed paths.
All: Label integration-tests PRs, Label kinesis-mock PRs, Label root-jvm-213 PRs

Label integration-tests PRs:
  label:
    add:
    - integration-tests
    remove: []

Label kinesis-mock PRs:
  label:
    add:
    - kinesis-mock
    remove: []

Label root-jvm-213 PRs:
  label:
    add:
    - root-jvm-213
    remove: []

More WIP
  .github/workflows/ci.yml
  .mergify.yml
  project/KinesisMockPlugin.scala
Due: none

Remove
  .github/workflows copy/publish.yml
  .github/workflows copy/release-drafter.yml
  .github/workflows copy/scala.yml
Due: none

Remove
  graal/buildLinuxImage.sh
  graal/buildNativeImage.ps1
  graal/buildNativeImageLinux.sh
  graal/buildNativeImageMac.sh
  graal/reflect-config.json
  graal/resource-config.json
Due: none

More WIP
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  project/KinesisMockPlugin.scala
  project/LibraryDependencies.scala
  project/plugins.sbt
Due: none

WIP
  build.sbt
  integration-tests/src/test/scala/kinesis/mock/FunctionalTestConfig.scala
  kinesis-mock/src/main/scala/kinesis/mock/CirisEnum.scala
  kinesis-mock/src/main/scala/kinesis/mock/ConsoleLogger.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockHeaders.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockService.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockServiceConfig.scala
  kinesis-mock/src/main/scala/kinesis/mock/LoggingContext.scala
  kinesis-mock/src/main/scala/kinesis/mock/MD5.scala
  kinesis-mock/src/main/scala/kinesis/mock/Utils.scala
  kinesis-mock/src/main/scala/kinesis/mock/cache/Cache.scala
  kinesis-mock/src/main/scala/kinesis/mock/cache/CacheConfig.scala
  kinesis-mock/src/main/scala/kinesis/mock/cache/PersistConfig.scala
  kinesis-mock/src/main/scala/kinesis/mock/instances/circe.scala
  kinesis-mock/src/main/scala/kinesis/mock/instances/ciris.scala
  kinesis-mock/src/main/scala/kinesis/mock/instances/pureconfig.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/AwsAccountId.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/AwsRegion.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/Fibonacci.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/PolicyDecision.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/RetryDetails.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/RetryPolicies.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/RetryPolicy.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/RetryStatus.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/Sleep.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/classes.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/implicits.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/package.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/syntax/all.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/syntax/package.scala
  kinesis-mock/src/main/scala/kinesis/mock/retry/syntax/retry.scala
  kinesis-mock/src/main/scala/kinesis/mock/validations/CommonValidations.scala
  project/KinesisMockPlugin.scala
  project/LibraryDependencies.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs

More WIP
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockService.scala
Due: Label kinesis-mock PRs

WIP
  kinesis-mock/src/main/scala/kinesis/mock/ConsoleLogger.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/ShardIterator.scala
Due: Label kinesis-mock PRs

Update kinesis, utils to 2.20.101
  project/LibraryDependencies.scala
Due: none

Update kinesis, utils to 2.20.101 (#529)
  project/LibraryDependencies.scala
Due: none

Update sbt to 1.9.2
  project/build.properties
Due: none

Update sbt to 1.9.2 (#530)
  project/build.properties
Due: none

more WIP
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  project/KinesisMockPlugin.scala
  testkit/src/main/scala/kinesis/mock/regexp/ASTProcessor.scala
  testkit/src/main/scala/kinesis/mock/regexp/GenParser.scala
  testkit/src/main/scala/kinesis/mock/regexp/RegexpGen.scala
  testkit/src/main/scala/kinesis/mock/regexp/ast/AST.scala
  unit-tests/src/test/scala/kinesis/mock/cache/AddTagsToStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeLimitsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamSummaryTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DisableEnhancedMonitoringTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/EnableEnhancedMonitoringTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListShardsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListTagsForStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/RemoveTagsFromStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/models/ConsumerArnSpec.scala
Due: none

WIP
  .jvmopts
  build.sbt
  docker/Dockerfile.Simple
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockRoutes.scala
Due: Label kinesis-mock PRs

Things run now
  build.sbt
  kinesis-mock/src/main/scalajs/kinesis/mock/AES.scala
Due: Label kinesis-mock PRs

more WIP
  build.sbt
  docker/Dockerfile
  docker/docker-compose.yml
  docker/image/lib/.gitkeep
  kinesis-mock/src/main/resources/keystore.pem
  kinesis-mock/src/main/resources/server.json
  kinesis-mock/src/main/resources/server.p12
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockService.scala
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockServiceConfig.scala
  kinesis-mock/src/main/scalajs/kinesis/mock/TLS.scala
  kinesis-mock/src/main/scalajvm/kinesis/mock/TLS.scala
  logs
  project/DockerComposePlugin.scala
  project/DockerImagePlugin.scala
Due: Label kinesis-mock PRs

cleanup
  docker/Dockerfile
Due: none

trying this but no luck
  kinesis-mock/src/main/resources/keystore.pem
  kinesis-mock/src/main/resources/server.json
  kinesis-mock/src/main/resources/server.p12
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockServiceConfig.scala
Due: Label kinesis-mock PRs

delete logs file
  logs
Due: none

snapshots
  project/KinesisMockPlugin.scala
  project/LibraryDependencies.scala
Due: none

fs2-io
  build.sbt
  project/LibraryDependencies.scala
Due: none

fmt
  build.sbt
  kinesis-mock/src/main/scalajvm/kinesis/mock/TLS.scala
  project/DockerImagePlugin.scala
Due: Label kinesis-mock PRs

add map file, enable source maps
  docker/Dockerfile
Due: none

don't rename file
  docker/Dockerfile
Due: none

fix jvmopts
  .jvmopts
Due: none

Update java version
  .github/workflows/ci.yml
  .mergify.yml
  project/KinesisMockPlugin.scala
Due: none

More fixes for GHA
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

More fixes
  build.sbt
Due: none

fix
  project/KinesisMockPlugin.scala
Due: none

Only run integration tests on JS CI
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

More fixes
  .gitignore
  build.sbt
Due: none

Publish steps
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

Fix linking steps, add compile step
  .github/workflows/ci.yml
  build.sbt
  project/KinesisMockPlugin.scala
Due: none

New FS2 snapshot, re-add logback to integration tests
  build.sbt
  integration-tests/src/test/resources/logback-test.xml
  integration-tests/src/test/scala/kinesis/mock/FunctionalTestConfig.scala
  project/LibraryDependencies.scala
Due: Label integration-tests PRs

We are up and running!!
  build.sbt
  docker/Dockerfile.JVM
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockService.scala
  kinesis-mock/src/main/scalajs/kinesis/mock/AES.scala
Due: Label kinesis-mock PRs

efficiency
  kinesis-mock/src/main/scalajs/kinesis/mock/AES.scala
Due: Label kinesis-mock PRs

Doc Updates
  README.md
Due: none

Make scalafix happy
  kinesis-mock/src/main/scalajs/kinesis/mock/TLS.scala
Due: Label kinesis-mock PRs

Increase timeout
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
Due: Label integration-tests PRs

Update docker push
  .github/workflows/ci.yml
  project/KinesisMockPlugin.scala
Due: none

Path conditions:
  Label integration-tests PRs: any of: ^integration-tests/
  Label kinesis-mock PRs: any of: ^kinesis-mock/
  Label root-jvm-213 PRs: any of: ^root-jvm-213/
