Repository etspaceman/kinesis-mock: changes, and which Mergify rules are due for each by the changed paths.
All: Label integration-tests PRs, Label kinesis-mock PRs, Label root-jvm-213 PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - body~=labels:.*early-semver-patch
  - status-success=Build and Test (ubuntu-latest, 2.13.11, temurin@17, root-jvm-213)
  actions:
    merge: {}
- name: Label integration-tests PRs
  conditions:
  - files~=^integration-tests/
  actions:
    label:
      add:
      - integration-tests
      remove: []
- name: Label kinesis-mock PRs
  conditions:
  - files~=^kinesis-mock/
  actions:
    label:
      add:
      - kinesis-mock
      remove: []
- name: Label root-jvm-213 PRs
  conditions:
  - files~=^root-jvm-213/
  actions:
    label:
      add:
      - root-jvm-213
      remove: []

Update sbt-typelevel-ci, ... to 0.6.0
  project/plugins.sbt
Due: none

Update kinesis to 2.21.10
  project/LibraryDependencies.scala
Due: none

Update sbt-assembly to 2.1.4 (#625)
  project/plugins.sbt
Due: none

Update kinesis to 2.21.10 (#627)
  project/LibraryDependencies.scala
Due: none

Revert commit(s) ec89e59
  project/plugins.sbt
Due: none

Update sbt-typelevel-ci, ... to 0.6.1
  project/plugins.sbt
Due: none

Update kinesis to 2.21.12
  project/LibraryDependencies.scala
Due: none

Update kinesis to 2.21.12 (#629)
  project/LibraryDependencies.scala
Due: none

Update sbt-typelevel-ci, ... to 0.6.1 (#628)
  project/plugins.sbt
Due: none

fix
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
Due: Label integration-tests PRs

Update scala-steward bot
  .mergify.yml
  project/KinesisMockPlugin.scala
Due: none

Update scala-steward bot (#634)
  .mergify.yml
  project/KinesisMockPlugin.scala
Due: none

strip quotes from shard iterators before parsing base64
  integration-tests/src/test/scala/kinesis/mock/GetRecordsTests.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/ShardIterator.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs

Add CLI based test script
  docker/docker-compose.yml
  docker/scripts/awscli-tests.sh
Due: none

remove created stream after CLI tests
  docker/scripts/awscli-tests.sh
Due: none

strip quotes from shard iterators before parsing base64 (#689)
  docker/docker-compose.yml
  docker/scripts/awscli-tests.sh
  integration-tests/src/test/scala/kinesis/mock/GetRecordsTests.scala
  kinesis-mock/src/main/scala/kinesis/mock/models/ShardIterator.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs

Update cache to be a resource
  docker/scripts/awscli-tests.sh
  kinesis-mock/src/main/scala/kinesis/mock/KinesisMockService.scala
  kinesis-mock/src/main/scala/kinesis/mock/cache/Cache.scala
  unit-tests/src/test/scala/kinesis/mock/KinesisMockServiceTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/AddTagsToStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/CreateStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DecreaseStreamRetentionPeriodTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DeleteStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DeregisterStreamConsumerTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeLimitsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamConsumerTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamSummaryTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DescribeStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/DisableEnhancedMonitoringTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/EnableEnhancedMonitoringTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/GetRecordsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/GetShardIteratorTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/IncreaseStreamRetentionPeriodTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListShardsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListStreamConsumersTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListStreamsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/ListTagsForStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/MergeShardsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PersistenceTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PutRecordTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/PutRecordsTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/RegisterStreamConsumerTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/RemoveTagsFromStreamTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/SplitShardTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/StartStreamEncryptionTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/StopStreamEncryptionTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/UpdateShardCountTests.scala
  unit-tests/src/test/scala/kinesis/mock/cache/UpdateStreamModeTests.scala
Due: Label kinesis-mock PRs

Fix KCL tests
  build.sbt
  project/LibraryDependencies.scala
Due: none

Fix constructor
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
Due: Label integration-tests PRs

Fix docker compose
  project/DockerComposePlugin.scala
Due: none

Fix docker compose (#889)
  project/DockerComposePlugin.scala
Due: none

Update LibraryDependencies.scala
  project/LibraryDependencies.scala
Due: none

fix compile
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
Due: Label integration-tests PRs

Fix compile
  integration-tests/src/test/scala/kinesis/mock/AwsFunctionalTests.scala
  integration-tests/src/test/scala/kinesis/mock/KPLTests.scala
Due: Label integration-tests PRs

Upgrade protobuf
  build.sbt
  project/LibraryDependencies.scala
Due: none

Revert protobuf upgrade
  build.sbt
  project/LibraryDependencies.scala
Due: none

Upgrade KPL, KCL
  integration-tests/src/test/scala/kinesis/mock/AwsCreds.scala
  integration-tests/src/test/scala/kinesis/mock/AwsFunctionalTests.scala
  integration-tests/src/test/scala/kinesis/mock/KPLResources.scala
  integration-tests/src/test/scala/kinesis/mock/KPLTests.scala
  project/LibraryDependencies.scala
Due: Label integration-tests PRs

Extra information
  integration-tests/src/test/resources/logback-test.xml
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
Due: Label integration-tests PRs

More printing, temporarily ignore a test
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
Due: Label integration-tests PRs

Use CE 3.6.0-RC1
  kinesis-mock/src/main/scala/kinesis/mock/Utils.scala
  project/LibraryDependencies.scala
Due: Label kinesis-mock PRs

Try Dequeue
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
Due: Label integration-tests PRs

Revert back dep updates, longer test.
  integration-tests/src/test/resources/logback-test.xml
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
  kinesis-mock/src/main/scala/kinesis/mock/Utils.scala
  project/LibraryDependencies.scala
Due: Label integration-tests PRs, Label kinesis-mock PRs

Re-add test
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
Due: Label integration-tests PRs

Set failoverTimeMillis to 1000L, remove logs.
  integration-tests/src/test/resources/logback-test.xml
  integration-tests/src/test/scala/kinesis/mock/KCLTests.scala
Due: Label integration-tests PRs

Update README examples
  README.md
Due: none
